@import "tailwindcss";



/* img{
  border: solid black;
} */
/* .card{
  border: solid black;
  border-radius: 25px;
  height: 150px;
  background-color: #ECCAC0;
  padding: 10px;
} */

/* .counter{
  display: flex;
} */
